In [1]:
import pandas as pd
import numpy as np
import tqdm
import os

In [2]:
PATH = r'C:\Users\WIN 8.1\Deep-Portfolio-Management-Reinforcement-Learning\individual_stocks_5yr'
files_tags = os.listdir(PATH)
files_tags

['AAL_data.csv',
 'AAPL_data.csv',
 'AAP_data.csv',
 'ABBV_data.csv',
 'ABC_data.csv',
 'ABT_data.csv',
 'ACN_data.csv',
 'ADBE_data.csv',
 'ADI_data.csv',
 'ADM_data.csv',
 'ADP_data.csv',
 'ADSK_data.csv',
 'ADS_data.csv',
 'AEE_data.csv',
 'AEP_data.csv',
 'AES_data.csv',
 'AET_data.csv',
 'AFL_data.csv',
 'AGN_data.csv',
 'AIG_data.csv',
 'AIV_data.csv',
 'AIZ_data.csv',
 'AJG_data.csv',
 'AKAM_data.csv',
 'ALB_data.csv',
 'ALGN_data.csv',
 'ALK_data.csv',
 'ALLE_data.csv',
 'ALL_data.csv',
 'ALXN_data.csv',
 'AMAT_data.csv',
 'AMD_data.csv',
 'AME_data.csv',
 'AMGN_data.csv',
 'AMG_data.csv',
 'AMP_data.csv',
 'AMT_data.csv',
 'AMZN_data.csv',
 'ANDV_data.csv',
 'ANSS_data.csv',
 'ANTM_data.csv',
 'AON_data.csv',
 'AOS_data.csv',
 'APA_data.csv',
 'APC_data.csv',
 'APD_data.csv',
 'APH_data.csv',
 'APTV_data.csv',
 'ARE_data.csv',
 'ARNC_data.csv',
 'ATVI_data.csv',
 'AVB_data.csv',
 'AVGO_data.csv',
 'AVY_data.csv',
 'AWK_data.csv',
 'AXP_data.csv',
 'AYI_data.csv',
 'AZO_data.csv',
 'A_data.csv',
 'BAC_data.csv',
 'BAX_data.csv',
 'BA_data.csv',
 'BBT_data.csv',
 'BBY_data.csv',
 'BDX_data.csv',
 'BEN_data.csv',
 'BF.B_data.csv',
 'BHF_data.csv',
 'BHGE_data.csv',
 'BIIB_data.csv',
 'BK_data.csv',
 'BLK_data.csv',
 'BLL_data.csv',
 'BMY_data.csv',
 'BRK.B_data.csv',
 'BSX_data.csv',
 'BWA_data.csv',
 'BXP_data.csv',
 'CAG_data.csv',
 'CAH_data.csv',
 'CAT_data.csv',
 'CA_data.csv',
 'CBG_data.csv',
 'CBOE_data.csv',
 'CBS_data.csv',
 'CB_data.csv',
 'CCI_data.csv',
 'CCL_data.csv',
 'CDNS_data.csv',
 'CELG_data.csv',
 'CERN_data.csv',
 'CFG_data.csv',
 'CF_data.csv',
 'CHD_data.csv',
 'CHK_data.csv',
 'CHRW_data.csv',
 'CHTR_data.csv',
 'CINF_data.csv',
 'CI_data.csv',
 'C_data.csv',
 'f']

In [3]:
stock_name = [file.split('_')[0] for file in files_tags]
stock_name

['AAL',
 'AAPL',
 'AAP',
 'ABBV',
 'ABC',
 'ABT',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'ADS',
 'AEE',
 'AEP',
 'AES',
 'AET',
 'AFL',
 'AGN',
 'AIG',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALLE',
 'ALL',
 'ALXN',
 'AMAT',
 'AMD',
 'AME',
 'AMGN',
 'AMG',
 'AMP',
 'AMT',
 'AMZN',
 'ANDV',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'APC',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ARNC',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AYI',
 'AZO',
 'A',
 'BAC',
 'BAX',
 'BA',
 'BBT',
 'BBY',
 'BDX',
 'BEN',
 'BF.B',
 'BHF',
 'BHGE',
 'BIIB',
 'BK',
 'BLK',
 'BLL',
 'BMY',
 'BRK.B',
 'BSX',
 'BWA',
 'BXP',
 'CAG',
 'CAH',
 'CAT',
 'CA',
 'CBG',
 'CBOE',
 'CBS',
 'CB',
 'CCI',
 'CCL',
 'CDNS',
 'CELG',
 'CERN',
 'CFG',
 'CF',
 'CHD',
 'CHK',
 'CHRW',
 'CHTR',
 'CINF',
 'CI',
 'C',
 'f']

In [4]:
stocks = [file for file in files_tags]
stocks

['AAL_data.csv',
 'AAPL_data.csv',
 'AAP_data.csv',
 'ABBV_data.csv',
 'ABC_data.csv',
 'ABT_data.csv',
 'ACN_data.csv',
 'ADBE_data.csv',
 'ADI_data.csv',
 'ADM_data.csv',
 'ADP_data.csv',
 'ADSK_data.csv',
 'ADS_data.csv',
 'AEE_data.csv',
 'AEP_data.csv',
 'AES_data.csv',
 'AET_data.csv',
 'AFL_data.csv',
 'AGN_data.csv',
 'AIG_data.csv',
 'AIV_data.csv',
 'AIZ_data.csv',
 'AJG_data.csv',
 'AKAM_data.csv',
 'ALB_data.csv',
 'ALGN_data.csv',
 'ALK_data.csv',
 'ALLE_data.csv',
 'ALL_data.csv',
 'ALXN_data.csv',
 'AMAT_data.csv',
 'AMD_data.csv',
 'AME_data.csv',
 'AMGN_data.csv',
 'AMG_data.csv',
 'AMP_data.csv',
 'AMT_data.csv',
 'AMZN_data.csv',
 'ANDV_data.csv',
 'ANSS_data.csv',
 'ANTM_data.csv',
 'AON_data.csv',
 'AOS_data.csv',
 'APA_data.csv',
 'APC_data.csv',
 'APD_data.csv',
 'APH_data.csv',
 'APTV_data.csv',
 'ARE_data.csv',
 'ARNC_data.csv',
 'ATVI_data.csv',
 'AVB_data.csv',
 'AVGO_data.csv',
 'AVY_data.csv',
 'AWK_data.csv',
 'AXP_data.csv',
 'AYI_data.csv',
 'AZO_data.csv',
 'A_data.csv',
 'BAC_data.csv',
 'BAX_data.csv',
 'BA_data.csv',
 'BBT_data.csv',
 'BBY_data.csv',
 'BDX_data.csv',
 'BEN_data.csv',
 'BF.B_data.csv',
 'BHF_data.csv',
 'BHGE_data.csv',
 'BIIB_data.csv',
 'BK_data.csv',
 'BLK_data.csv',
 'BLL_data.csv',
 'BMY_data.csv',
 'BRK.B_data.csv',
 'BSX_data.csv',
 'BWA_data.csv',
 'BXP_data.csv',
 'CAG_data.csv',
 'CAH_data.csv',
 'CAT_data.csv',
 'CA_data.csv',
 'CBG_data.csv',
 'CBOE_data.csv',
 'CBS_data.csv',
 'CB_data.csv',
 'CCI_data.csv',
 'CCL_data.csv',
 'CDNS_data.csv',
 'CELG_data.csv',
 'CERN_data.csv',
 'CFG_data.csv',
 'CF_data.csv',
 'CHD_data.csv',
 'CHK_data.csv',
 'CHRW_data.csv',
 'CHTR_data.csv',
 'CINF_data.csv',
 'CI_data.csv',
 'C_data.csv',
 'f']

In [5]:
pd.read_csv(PATH + '\\' + 'CHTR_data.csv')

            date    open     high       low    close   volume  Name
0     2013-02-08   80.50   81.670   80.0200   80.890   410858  CHTR
1     2013-02-11   80.56   80.560   79.1800   79.310   365140  CHTR
2     2013-02-12   79.55   80.010   79.2400   80.000   444225  CHTR
3     2013-02-13   80.87   80.910   79.6750   80.030   769538  CHTR
4     2013-02-14   79.95   80.130   79.1200   79.480   439128  CHTR
5     2013-02-15   79.47   79.670   79.2200   79.540   680439  CHTR
6     2013-02-19   79.82   79.980   79.0700   79.390   411383  CHTR
7     2013-02-20   79.49   79.740   77.9300   77.990   567489  CHTR
8     2013-02-21   78.00   78.050   76.1900   77.030  1125346  CHTR
9     2013-02-22   79.31   86.320   76.2500   85.020  4161098  CHTR
10    2013-02-25   83.89   85.560   82.9200   83.300  1602615  CHTR
11    2013-02-26   83.99   86.980   83.3300   86.740  2008745  CHTR
12    2013-02-27   87.40   89.140   85.8500   87.130  1342924  CHTR
13    2013-02-28   86.94   87.250   84.2100   86.390  1619131  CHTR
14    2013-03-01   85.77   86.920   85.7700   86.490  1022746  CHTR
15    2013-03-04   85.91   87.010   85.7400   86.990   456575  CHTR
16    2013-03-05   86.96   87.670   86.6700   87.610   859647  CHTR
17    2013-03-06   88.14   90.900   88.0100   89.980  2069589  CHTR
18    2013-03-07   90.60   90.600   89.4900   89.800   785968  CHTR
19    2013-03-08   90.00   90.340   86.7600   89.060  2929876  CHTR
20    2013-03-11   89.14   89.490   88.6900   88.950   732233  CHTR
21    2013-03-12   89.44   89.640   88.9000   89.500  1509072  CHTR
22    2013-03-13   90.83   90.950   89.4100   89.880  1206771  CHTR
23    2013-03-14   89.88   90.190   87.9250   90.110   638740  CHTR
24    2013-03-15   90.32   90.730   89.1200   90.092  1342613  CHTR
25    2013-03-18   88.93   99.930   88.7000   98.040  5333771  CHTR
26    2013-03-19   99.65  100.650   97.8800  100.380  4223332  CHTR
27    2013-03-20  101.00  106.290  100.7500  105.770  2545673  CHTR
28    2013-03-21  104.28  104.900  101.4800  102.360  2077232  CHTR
29    2013-03-22  102.60  103.290  102.0000  103.280  2966544  CHTR
...          ...     ...      ...       ...      ...      ...   ...
1229  2017-12-26  336.84  340.500  336.1000  340.400  1123774  CHTR
1230  2017-12-27  341.40  341.500  332.3100  333.250  2044745  CHTR
1231  2017-12-28  334.45  339.775  333.0000  338.030   764615  CHTR
1232  2017-12-29  335.14  342.020  333.8200  335.960   846786  CHTR
1233  2018-01-02  338.43  352.820  337.7700  348.970  2789254  CHTR
1234  2018-01-03  354.06  364.380  349.5900  353.030  2500770  CHTR
1235  2018-01-04  356.75  358.000  346.9700  349.790  1176448  CHTR
1236  2018-01-05  352.02  354.400  349.0800  350.880  1960497  CHTR
1237  2018-01-08  354.47  360.190  351.6300  356.550  1485897  CHTR
1238  2018-01-09  356.66  358.770  354.1500  354.760   938935  CHTR
1239  2018-01-10  354.02  356.460  347.5300  350.830  1092374  CHTR
1240  2018-01-11  350.28  356.190  348.3200  355.270  1191089  CHTR
1241  2018-01-12  357.39  359.560  353.0800  354.000   644642  CHTR
1242  2018-01-16  352.18  356.540  349.8692  352.930  1112560  CHTR
1243  2018-01-17  358.59  359.990  352.0650  357.840  1119462  CHTR
1244  2018-01-18  356.49  365.250  356.4900  365.250  1534564  CHTR
1245  2018-01-19  366.73  370.000  362.8000  366.050  1453378  CHTR
1246  2018-01-22  366.37  371.000  366.0000  370.250  1821955  CHTR
1247  2018-01-23  367.81  372.000  366.1600  369.250  1043114  CHTR
1248  2018-01-24  370.45  377.060  367.2700  376.180  1758310  CHTR
1249  2018-01-25  376.23  378.380  371.7000  375.140   981775  CHTR
1250  2018-01-26  375.83  378.140  374.3100  377.000  1228545  CHTR
1251  2018-01-29  375.24  376.615  370.7100  374.500   925630  CHTR
1252  2018-01-30  376.37  377.980  371.8400  376.570  1241633  CHTR
1253  2018-01-31  374.81  379.325  373.2100  377.250  2152768  CHTR
1254  2018-02-01  376.11  380.255  371.1400  371.180  1928171  CHTR
1255  2018-02-02  380.00  396.640  375.4950  387.500  4374876  CHTR
1256  2018-02-05  391.60  395.000  371.4700  372.570  2872626  CHTR
1257  2018-02-06  366.08  370.960  360.1221  369.750  4492123  CHTR
1258  2018-02-07  367.11  370.520  360.0610  363.550  1554983  CHTR

[1259 rows x 7 columns]

In [6]:
pd.read_csv(PATH + '\\' + 'AAL_data.csv')

            date   open     high      low  close    volume Name
0     2013-02-08  15.07  15.1200  14.6300  14.75   8407500  AAL
1     2013-02-11  14.89  15.0100  14.2600  14.46   8882000  AAL
2     2013-02-12  14.45  14.5100  14.1000  14.27   8126000  AAL
3     2013-02-13  14.30  14.9400  14.2500  14.66  10259500  AAL
4     2013-02-14  14.94  14.9600  13.1600  13.99  31879900  AAL
5     2013-02-15  13.93  14.6100  13.9300  14.50  15628000  AAL
6     2013-02-19  14.33  14.5600  14.0800  14.26  11354400  AAL
7     2013-02-20  14.17  14.2600  13.1500  13.33  14725200  AAL
8     2013-02-21  13.62  13.9500  12.9000  13.37  11922100  AAL
9     2013-02-22  13.57  13.6000  13.2100  13.57   6071400  AAL
10    2013-02-25  13.60  13.7600  13.0000  13.02   7186400  AAL
11    2013-02-26  13.14  13.4200  12.7000  13.26   9419000  AAL
12    2013-02-27  13.28  13.6200  13.1800  13.41   7390500  AAL
13    2013-02-28  13.49  13.6300  13.3900  13.43   6143600  AAL
14    2013-03-01  13.37  13.9500  13.3200  13.61   7376800  AAL
15    2013-03-04  13.50  14.0700  13.4700  13.90   8174800  AAL
16    2013-03-05  14.01  14.0500  13.7100  14.05   7676100  AAL
17    2013-03-06  14.52  14.6800  14.2500  14.57  13243200  AAL
18    2013-03-07  14.70  14.9300  14.5000  14.82   9125300  AAL
19    2013-03-08  14.99  15.2000  14.8400  14.92  10593700  AAL
20    2013-03-11  14.85  15.1500  14.7100  15.13   6961800  AAL
21    2013-03-12  15.14  15.6000  14.9500  15.50   8999100  AAL
22    2013-03-13  15.54  16.2000  15.4800  15.91  11380000  AAL
23    2013-03-14  15.98  16.3600  15.9300  16.25   8383300  AAL
24    2013-03-15  16.45  16.5400  15.8800  15.98  17667700  AAL
25    2013-03-18  15.80  16.3300  15.7100  16.29   6514100  AAL
26    2013-03-19  16.48  16.8500  16.4100  16.78  11805300  AAL
27    2013-03-20  17.13  17.3300  16.8700  17.23  10819800  AAL
28    2013-03-21  17.21  17.4300  16.8700  17.00  10740800  AAL
29    2013-03-22  17.10  17.2900  16.7700  16.86   8545200  AAL
...          ...    ...      ...      ...    ...       ...  ...
1229  2017-12-26  52.35  53.2150  52.3300  52.85   2774316  AAL
1230  2017-12-27  52.80  52.8800  52.0600  52.40   2831434  AAL
1231  2017-12-28  52.45  52.6300  52.2200  52.46   1845331  AAL
1232  2017-12-29  52.42  52.8200  52.0100  52.03   2697096  AAL
1233  2018-01-02  52.33  53.1000  51.9000  52.99   4084712  AAL
1234  2018-01-03  52.86  52.8600  52.0550  52.34   5074850  AAL
1235  2018-01-04  52.48  54.4000  52.2650  52.67   3557059  AAL
1236  2018-01-05  52.78  52.8388  52.4300  52.65   2967756  AAL
1237  2018-01-08  52.60  52.6400  51.9300  52.13   3515785  AAL
1238  2018-01-09  52.97  53.3700  52.0050  52.08   3426021  AAL
1239  2018-01-10  53.23  54.0200  52.8800  53.78   7655771  AAL
1240  2018-01-11  54.49  57.0000  54.1800  56.42  11339858  AAL
1241  2018-01-12  56.56  58.7300  56.5600  58.47   7505761  AAL
1242  2018-01-16  58.79  59.0800  57.5300  57.98   5283872  AAL
1243  2018-01-17  58.31  58.5800  57.8000  58.16   3148934  AAL
1244  2018-01-18  58.00  58.7100  57.5600  58.34   3969309  AAL
1245  2018-01-19  58.59  58.5900  57.7600  58.06   3151201  AAL
1246  2018-01-22  57.99  58.3400  57.5305  58.10   3553916  AAL
1247  2018-01-23  57.74  58.4600  57.4000  58.29   3336991  AAL
1248  2018-01-24  54.35  55.4600  53.4500  54.79  16348479  AAL
1249  2018-01-25  54.00  54.5500  52.2100  53.05  10223096  AAL
1250  2018-01-26  53.65  53.9000  52.3400  53.07   7066094  AAL
1251  2018-01-29  52.79  53.1600  52.5850  52.68   5953675  AAL
1252  2018-01-30  52.45  53.0500  52.3600  52.59   4741808  AAL
1253  2018-01-31  53.08  54.7100  53.0000  54.32   5962937  AAL
1254  2018-02-01  54.00  54.6400  53.5900  53.88   3623078  AAL
1255  2018-02-02  53.49  53.9900  52.0300  52.10   5109361  AAL
1256  2018-02-05  51.99  52.3900  49.7500  49.76   6878284  AAL
1257  2018-02-06  49.32  51.5000  48.7900  51.18   6782480  AAL
1258  2018-02-07  50.91  51.9800  50.8900  51.40   4845831  AAL

[1259 rows x 7 columns]

In [7]:
#The last element f is empty. So let's parse only through remaining stocks.
kept_stocks = []
not_kept_stocks = []
for s in stocks[:-1]:
    df = pd.read_csv(PATH + '\\' + s)
    if len(df)!=1259:
        not_kept_stocks.append(s)
    else:
        kept_stocks.append(s)
kept_stocks

['AAL_data.csv',
 'AAPL_data.csv',
 'AAP_data.csv',
 'ABBV_data.csv',
 'ABC_data.csv',
 'ABT_data.csv',
 'ACN_data.csv',
 'ADBE_data.csv',
 'ADI_data.csv',
 'ADM_data.csv',
 'ADP_data.csv',
 'ADSK_data.csv',
 'ADS_data.csv',
 'AEE_data.csv',
 'AEP_data.csv',
 'AES_data.csv',
 'AET_data.csv',
 'AFL_data.csv',
 'AGN_data.csv',
 'AIG_data.csv',
 'AIV_data.csv',
 'AIZ_data.csv',
 'AJG_data.csv',
 'AKAM_data.csv',
 'ALB_data.csv',
 'ALGN_data.csv',
 'ALK_data.csv',
 'ALL_data.csv',
 'ALXN_data.csv',
 'AMAT_data.csv',
 'AMD_data.csv',
 'AME_data.csv',
 'AMGN_data.csv',
 'AMG_data.csv',
 'AMP_data.csv',
 'AMT_data.csv',
 'AMZN_data.csv',
 'ANDV_data.csv',
 'ANSS_data.csv',
 'ANTM_data.csv',
 'AON_data.csv',
 'AOS_data.csv',
 'APA_data.csv',
 'APC_data.csv',
 'APD_data.csv',
 'APH_data.csv',
 'ARE_data.csv',
 'ARNC_data.csv',
 'ATVI_data.csv',
 'AVB_data.csv',
 'AVGO_data.csv',
 'AVY_data.csv',
 'AWK_data.csv',
 'AXP_data.csv',
 'AYI_data.csv',
 'AZO_data.csv',
 'A_data.csv',
 'BAC_data.csv',
 'BAX_data.csv',
 'BA_data.csv',
 'BBT_data.csv',
 'BBY_data.csv',
 'BDX_data.csv',
 'BEN_data.csv',
 'BF.B_data.csv',
 'BIIB_data.csv',
 'BK_data.csv',
 'BLK_data.csv',
 'BLL_data.csv',
 'BRK.B_data.csv',
 'BSX_data.csv',
 'BWA_data.csv',
 'BXP_data.csv',
 'CAG_data.csv',
 'CAH_data.csv',
 'CAT_data.csv',
 'CA_data.csv',
 'CBG_data.csv',
 'CBOE_data.csv',
 'CBS_data.csv',
 'CB_data.csv',
 'CCI_data.csv',
 'CCL_data.csv',
 'CDNS_data.csv',
 'CELG_data.csv',
 'CERN_data.csv',
 'CF_data.csv',
 'CHD_data.csv',
 'CHK_data.csv',
 'CHRW_data.csv',
 'CHTR_data.csv',
 'CINF_data.csv',
 'CI_data.csv',
 'C_data.csv']

Selecting first 10 stocks for our portfolio,

In [8]:
list_open = []
list_close = []
list_high = []
list_low = []

for s in kept_stocks[:10]:
    data = pd.read_csv(PATH + '\\' + s).fillna('bfill').copy()
    data = data[['open', 'close', 'high', 'low']]
    list_open.append(data.open.values)
    list_close.append(data.close.values)
    list_high.append(data.high.values)
    list_low.append(data.low.values)

array_open = np.transpose(np.array(list_open))[:-1]
array_open_of_the_day = np.transpose(np.array(list_open))[1:]
array_close = np.transpose(np.array(list_close))[:-1]
array_high = np.transpose(np.array(list_high))[:-1]
array_low = np.transpose(np.array(list_low))[:-1]

In [9]:
np.transpose(np.array(list_open))

array([[ 15.07  ,  67.7142,  78.34  , ...,  38.31  ,  44.72  ,  30.31  ],
       [ 14.89  ,  68.0714,  78.65  , ...,  38.99  ,  45.99  ,  30.26  ],
       [ 14.45  ,  68.5014,  78.39  , ...,  38.55  ,  46.15  ,  30.22  ],
       ...,
       [ 51.99  , 159.1   , 113.05  , ..., 194.06  ,  88.75  ,  42.24  ],
       [ 49.32  , 154.83  , 108.28  , ..., 186.59  ,  84.2   ,  40.21  ],
       [ 50.91  , 163.085 , 112.09  , ..., 193.87  ,  86.75  ,  42.31  ]])

In [10]:
np.transpose(np.array(list_open))[:-1]

array([[ 15.07  ,  67.7142,  78.34  , ...,  38.31  ,  44.72  ,  30.31  ],
       [ 14.89  ,  68.0714,  78.65  , ...,  38.99  ,  45.99  ,  30.26  ],
       [ 14.45  ,  68.5014,  78.39  , ...,  38.55  ,  46.15  ,  30.22  ],
       ...,
       [ 53.49  , 166.    , 115.92  , ..., 197.33  ,  90.74  ,  42.04  ],
       [ 51.99  , 159.1   , 113.05  , ..., 194.06  ,  88.75  ,  42.24  ],
       [ 49.32  , 154.83  , 108.28  , ..., 186.59  ,  84.2   ,  40.21  ]])

In [11]:
X = np.transpose(np.array([array_close/array_open, 
                           array_high/array_open,
                           array_low/array_open,
                           array_open_of_the_day/array_open]), axes= (0,2,1))
X.shape

(4, 10, 1258)

In [12]:
np.save(r'C:\Users\WIN 8.1\10Stocks5yrs.npy', X)